# Chess Dataset

### Task  : Provide an update on the followingâ€¯project task   
1. Bring the raw data into a Pandas Data Frame, clean and transform it, and document the process in a Python file.
2. This file should then be uploaded to GitHub, providing the group with a starting point for discussion at the next meeting.

In [ ]:
# Import necessary libraries
import pandas as pd
from os import path

#Load the data
df = pd.read_csv("C:\\Users\\Count Dracula\\pda8\\code\\secondsemestercodes\\games.csv")

path.exists("C:\\Users\\Count Dracula\\pda8\\code\\secondsemestercodes\\games.csv")

True

### 1. Summary of the data
Format of the data, how many records are there, what can be determined from looking at the data.

In [ ]:
# 1. Summary of the data
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20058 entries, 0 to 20057
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              20058 non-null  object
 1   rated           20058 non-null  bool
 2   created_at      20058 non-null  float64
 3   last_move_at    20058 non-null  float64
 4   turns           20058 non-null  int64
 5   victory_status  20058 non-null  object
 6   winner          20058 non-null  object
 7   increment_code  20058 non-null  object
 8   white_id        20058 non-null  object
 9   white_rating    20058 non-null  int64
 10  black_id        20058 non-null  object
 11  black_rating    20058 non-null  int64
 12  moves           20058 non-null  object
 13  opening_eco     20058 non-null  object
 14  opening_name    20058 non-null  object
 15  opening_ply     20058 non-null  int64
dtypes: bool(1), float64(2), int64(4), object(9)
memory usage: 2.3+ MB
None

In [258]:
# Display the first few rows of the dataset
print("First few rows of the dataset dataset:")

print(df.head())

First few rows of the dataset dataset:
         id  rated          created_at        last_move_at  turns  \
0  TZJHLljE  False 2017-07-14 02:40:00 2017-07-14 02:40:00     13
1  l1NXvwaE   True 2017-07-14 02:40:00 2017-07-14 02:40:00     16
2  mIICvQHh   True 2017-07-14 02:40:00 2017-07-14 02:40:00     61
3  kWKvrqYL   True 2017-07-14 02:40:00 2017-07-14 02:40:00     61
4  9tXo1AUZ   True 2017-07-14 02:40:00 2017-07-14 02:40:00     95

  victory_status winner increment_code       white_id  white_rating  \
0      outoftime  white           15+2       bourgris          1500
1         resign  black           5+10           a-00          1322
2           mate  white           5+10         ischia          1496
3           mate  white           20+0  daniamurashov          1439
4           mate  white           30+3      nik221107          1523

       black_id  black_rating  \
0          a-00          1191
1     skinnerua          1261
2          a-00          1500
3  adivanov2009          1454
4  adivanov2009          1469

                                               moves opening_eco  \
0  d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...         D10
1  d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...         B00
2  e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...         C20
3  d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...         D02
4  e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...         C41

                             opening_name  opening_ply
0        Slav Defense: Exchange Variation            5
1  Nimzowitsch Defense: Kennedy Variation            4
2   King's Pawn Game: Leonardis Variation            3
3  Queen's Pawn Game: Zukertort Variation            3
4                        Philidor Defense            5

### 2. Data Cleaning and Transformation

In [ ]:
# Check for missing values
print(df.isnull().sum()) #checks every value in the DataFrame df to see if it's missing.

id                0
rated             0
created_at        0
last_move_at      0
turns             0
victory_status    0
winner            0
increment_code    0
white_id          0
white_rating      0
black_id          0
black_rating      0
moves             0
opening_eco       0
opening_name      0
opening_ply       0
dtype: int64

In [ ]:
df.describe()   #statistical summary of the numerical columns of dataset

,created_at,last_move_at,turns,white_rating,black_rating,opening_ply
count,19629,19629,19629.000000,19629.000000,19629.000000,19629.000000
mean,2017-01-01 20:26:16.585664256,2017-01-01 20:34:28.205206784,60.458607,1596.090224,1588.324622,4.804422
min,2013-08-17 20:06:40,2013-08-17 20:06:40,1.000000,784.000000,789.000000,1.000000
25%,2016-11-19 15:40:00,2016-11-19 15:40:00,37.000000,1400.000000,1393.000000,3.000000
50%,2017-06-04 18:13:20,2017-06-04 18:13:20,55.000000,1567.000000,1562.000000,4.000000
75%,2017-07-16 01:53:20,2017-07-16 01:53:20,79.000000,1791.000000,1783.000000,6.000000
max,2017-09-04 01:53:20,2017-09-04 01:53:20,349.000000,2700.000000,2723.000000,28.000000
std,NaN,NaN,33.502852,290.165038,290.164447,2.792791

In [ ]:
# Remove duplicates

# Find duplicates
duplicates = df[df.duplicated()]
print(duplicates)

Empty DataFrame
Columns: [id, rated, created_at, last_move_at, turns, victory_status, winner, increment_code, white_id, white_rating, black_id, black_rating, moves, opening_eco, opening_name, opening_ply]
Index: []

### Convert Timestamps: Change these columns format (created_at) and (last_move_at) to date formats.

In [261]:
# Convert 'created_at' and 'last_move_at' to datetime format
df['created_at'] = pd.to_datetime(df['created_at'], unit='ms')
df['last_move_at'] = pd.to_datetime(df['last_move_at'], unit='ms')

# Print the first 5 rows of the relevant columns
print(df[['created_at', 'last_move_at']].head())

           created_at        last_move_at
0 2017-07-14 02:40:00 2017-07-14 02:40:00
1 2017-07-14 02:40:00 2017-07-14 02:40:00
2 2017-07-14 02:40:00 2017-07-14 02:40:00
3 2017-07-14 02:40:00 2017-07-14 02:40:00
4 2017-07-14 02:40:00 2017-07-14 02:40:00

 ## Check for Inconsistent Data

### Check for Duplicates:

In [264]:
# Find duplicates
duplicates = df[df.duplicated()]
print(duplicates)

Empty DataFrame
Columns: [id, rated, created_at, last_move_at, turns, victory_status, winner, increment_code, white_id, white_rating, black_id, black_rating, moves, opening_eco, opening_name, opening_ply]
Index: []

### Check for Outliers :

In [ ]:
# Check rating columns for values outside expected chess rating range (100-3000)
outliers = df[(df['white_rating'] < 100) | (df['white_rating'] > 3000) |
              (df['black_rating'] < 100) | (df['black_rating'] > 3000)]

# Print 
print(outliers[['white_rating', 'black_rating']])

Empty DataFrame
Columns: [white_rating, black_rating]
Index: []

In [256]:
# Convert white_rating and black_rating to numeric
df['white_rating'] = pd.to_numeric(df['white_rating'], errors='coerce')
df['black_rating'] = pd.to_numeric(df['black_rating'], errors='coerce')

In [236]:
# Convert rated column to Boolean
df['rated'] = df['rated'].astype(bool)

In [237]:
# Convert turns and opening_ply columns to integer
df['turns'] = df['turns'].astype(int)
df['opening_ply'] = df['opening_ply'].astype(int)

In [ ]:
# Check data types
print(df.dtypes)

id                        object
rated                       bool
created_at        datetime64[ns]
last_move_at      datetime64[ns]
turns                      int32
victory_status            object
winner                    object
increment_code            object
white_id                  object
white_rating               int64
black_id                  object
black_rating               int64
moves                     object
opening_eco               object
opening_name              object
opening_ply                int32
dtype: object

In [257]:
# Check and remove extra spaces in column names
print("Column names before stripping:", df.columns.tolist())
df.columns = df.columns.str.strip()
print("Column names after stripping:", df.columns.tolist())

Column names before stripping: ['id', 'rated', 'created_at', 'last_move_at', 'turns', 'victory_status', 'winner', 'increment_code', 'white_id', 'white_rating', 'black_id', 'black_rating', 'moves', 'opening_eco', 'opening_name', 'opening_ply']
Column names after stripping: ['id', 'rated', 'created_at', 'last_move_at', 'turns', 'victory_status', 'winner', 'increment_code', 'white_id', 'white_rating', 'black_id', 'black_rating', 'moves', 'opening_eco', 'opening_name', 'opening_ply']

In [242]:
# Display the cleaned dataset
print("Cleaned dataset:")
print(df.head())

Cleaned dataset:
         id  rated          created_at        last_move_at  turns  \
0  TZJHLljE  False 2017-07-14 02:40:00 2017-07-14 02:40:00     13
1  l1NXvwaE   True 2017-07-14 02:40:00 2017-07-14 02:40:00     16
2  mIICvQHh   True 2017-07-14 02:40:00 2017-07-14 02:40:00     61
3  kWKvrqYL   True 2017-07-14 02:40:00 2017-07-14 02:40:00     61
4  9tXo1AUZ   True 2017-07-14 02:40:00 2017-07-14 02:40:00     95

  victory_status winner increment_code       white_id  white_rating  \
0      outoftime  white           15+2       bourgris          1500
1         resign  black           5+10           a-00          1322
2           mate  white           5+10         ischia          1496
3           mate  white           20+0  daniamurashov          1439
4           mate  white           30+3      nik221107          1523

       black_id  black_rating  \
0          a-00          1191
1     skinnerua          1261
2          a-00          1500
3  adivanov2009          1454
4  adivanov2009          1469

                                               moves opening_eco  \
0  d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...         D10
1  d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...         B00
2  e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...         C20
3  d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...         D02
4  e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...         C41

                             opening_name  opening_ply
0        Slav Defense: Exchange Variation            5
1  Nimzowitsch Defense: Kennedy Variation            4
2   King's Pawn Game: Leonardis Variation            3
3  Queen's Pawn Game: Zukertort Variation            3
4                        Philidor Defense            5

In [243]:
# Save the cleaned dataset to a new CSV file
df.to_csv('cleaned_chess_dataset.csv', index=False)

Durng cleaning and transformation process I checked for missing values, outliers, and extraspaces.  I have converted some columns' data types for better analysis.